In [1]:
data='{"Employee_name": "James","Email": "James@gmail.com","Job_Profile": [{"title1": "Team Lead","Title2": "Senior.Developer "}]}'

In [2]:
type(data)

str

In [3]:
import pandas as pd

In [4]:
pd.read_json(data)

,Employee_name,Email,Job_Profile
0,James,James@gmail.com,"{'title1': 'Team Lead', 'Title2': 'Senior.Deve..."

In [5]:
pd.read_json(data,orient='records')

,Employee_name,Email,Job_Profile
0,James,James@gmail.com,"{'title1': 'Team Lead', 'Title2': 'Senior.Deve..."

In [6]:
pd.read_json(data,orient='index')

                                                               0
Employee_name                                              James
Email                                            James@gmail.com
Job_Profile    [{'title1': 'Team Lead', 'Title2': 'Senior.Dev...

In [8]:
df=pd.DataFrame([['a','b'],['c','d']],
                index=['row1','row2'],
                columns=['col1','col2'])

In [9]:
df

     col1 col2
row1    a    b
row2    c    d

In [11]:
df.to_json()

'{"col1":{"row1":"a","row2":"c"},"col2":{"row1":"b","row2":"d"}}'

In [12]:
df.to_json(orient="index")

'{"row1":{"col1":"a","col2":"b"},"row2":{"col1":"c","col2":"d"}}'

In [13]:
df.to_json(orient="columns")

'{"col1":{"row1":"a","row2":"c"},"col2":{"row1":"b","row2":"d"}}'

In [14]:
df.to_json(orient="records")

'[{"col1":"a","col2":"b"},{"col1":"c","col2":"d"}]'

In [15]:
df.to_json(orient="split")

'{"columns":["col1","col2"],"index":["row1","row2"],"data":[["a","b"],["c","d"]]}'

In [16]:
df.to_json(orient="table")

'{"schema":{"fields":[{"name":"index","type":"string"},{"name":"col1","type":"string"},{"name":"col2","type":"string"}],"primaryKey":["index"],"pandas_version":"0.20.0"},"data":[{"index":"row1","col1":"a","col2":"b"},{"index":"row2","col1":"c","col2":"d"}]}'